:root {
  --main-color: #ffb703;
  --main-color-light: #ffd60a;
  --second-color: #023047;
  --second-color-light: #003566;
  --text-xxs: 0.8rem;
  --text-xs: 1rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-title: 2rem;
  --text-header: 3rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.navTop {
  background-color: var(--main-color);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navTopContainer {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navTopLeft {
  color: white;
  font-size: var(--text-xxs);
}

.navTopRight {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.navTopRightItem {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navTopRightItemIcon {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: whitesmoke;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-xxs);
}

.navTopRightItemText {
  font-size: var(--text-xxs);
  color: white;
}

.navBottom {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navBottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 1024px;
}

.navBottomLogo {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: var(--second-color);
  font-weight: 800;
}
.navBottomMenu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.navBottomMenuLink {
  text-transform: uppercase;
  display: block;
  padding-block: 3px;
  padding-inline: 5px;
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.navBottomMenuLink:hover {
  color: var(--second-color);
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  height: 50px;
  width: 30px;
}

.swiper-button-next > i,
.swiper-button-prev > i {
  font-size: var(--text-sm);
  font-weight: 200;
  color: var(--main-color-light);
}

.swiper-navigation-icon {
  display: none;
}
.swiper-slide > img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  padding-top: 40px;
}

.sectionContainer {
  width: 1024px;
}

.sectionTitle {
  text-transform: uppercase;
  color: var(--second-color);
  font-weight: 400;
  font-size: var(--text-base);
  text-align: center;
}
